extends default
block content
 div(align='center')
  table.intel-table
   thead
    tr
     th Col1
     th Col2
     th Col3
   tbody
    tr
     td None
     td N8339246A06517
     td(style="background-color:yellow;") N8339246A06437
   tr
     td None
     td None
     td None
   tr
